<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jolanka System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }
        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <span class="iconify"  style="padding-left: 30px; font-size: 70px; color: #feb236" data-icon="mdi-sheep" data-inline="false"></span>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title" style="padding-left: 8px; margin-top: -10px">Jolanka System</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/">
                <span class="material-icons">home</span>
                <span class="mdc-list-item__text">Home</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <span class="material-icons">account_circle</span>
                <span class="mdc-list-item__text">Clients</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <span class="material-icons">description</span>
                <span class="mdc-list-item__text">Insurances</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;">Change Accident Insurance</h1>
    <form action="#" th:action="@{'/insurance/change/accident/' + ${accidentInsurance.ID}}" th:object="${accidentInsurance}" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Indemnity: '"></span>
            <input class="mdl-textfield__input" type="number" id="insuranceIndemnity" th:field="*{insuranceIndemnity}" /></p>
            <label class="mdl-textfield__label" for="insuranceIndemnity">Indemnity</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Monthly Payment: '"></span>
            <input class="mdl-textfield__input" type="number" id="monthlyPayment" th:field="*{monthlyPayment}" /></p>
            <label class="mdl-textfield__label" for="monthlyPayment">Monthly Payment</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Amount for Permanent Consequences: '"></span>
            <input class="mdl-textfield__input" type="number" id="amountPC" th:field="*{amountForPermanentConsequences}" /></p>
            <label class="mdl-textfield__label" for="amountPC">Amount for Permanent Consequences</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Amount for Death: '"></span>
            <input class="mdl-textfield__input" type="number" id="amountD" th:field="*{amountForDeath}" /></p>
            <label class="mdl-textfield__label" for="amountD">Amount for Death</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Daily Amount for Hospitalization: '"></span>
            <input class="mdl-textfield__input" type="number" id="amountH" th:field="*{dailyAmountForHospitalization}" /></p>
            <label class="mdl-textfield__label" for="amountH">Daily Amount for Hospitalization</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Start Date: '"></span>
            <input class="mdl-textfield__input" type="date" id="startDate" th:field="*{startDateInsurance}" /></p>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'End Date: '"></span>
            <input class="mdl-textfield__input" type="date" id="endDate" th:field="*{endDateInsurance}" /></p>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" name="worldArea" id="worldArea">
                <option th:each="area: ${allWorldAreas}" th:value="${area}" th:text="${area.name()}"></option>
            </select>
            <label class="mdl-textfield__label" for="worldArea">Coverage Area</label>
        </div>

        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised" style="width: fit-content;"/>
    </form>
</div>
</body>
</html>

