<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jolanka System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }
        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
        form {
            display: flex;
            flex-direction: column;
            margin: 10px;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <span class="iconify"  style="padding-left: 30px; font-size: 70px; color: #feb236" data-icon="mdi-sheep" data-inline="false"></span>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title" style="padding-left: 8px; margin-top: -10px">Jolanka System</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/">
                <span class="material-icons">home</span>
                <span class="mdc-list-item__text">Home</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <span class="material-icons">account_circle</span>
                <span class="mdc-list-item__text">Clients</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <span class="material-icons">description</span>
                <span class="mdc-list-item__text">Insurances</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;">Change User</h1>
    <form action="#" th:action="@{'/user/change/id/' + ${user.ID}}" th:object="${user}" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'First Name: '"></span>
            <input class="mdl-textfield__input" type="text" id="firstName" th:field="*{name.firstName}" /></p>
            <label class="mdl-textfield__label" for="firstName">First Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Last Name: '"></span>
            <input class="mdl-textfield__input" type="text" id="lastName" th:field="*{name.lastName}" /></p>
            <label class="mdl-textfield__label" for="lastName">Last Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Mail: '"></span>
            <input class="mdl-textfield__input" type="text" id="mail" th:field="*{mail}" /></p>
            <label class="mdl-textfield__label" for="mail">mail</label>
        </div>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Permanent Residence Address&nbsp;</span>
            </span>
        </li>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Street: '"></span>
            <input class="mdl-textfield__input" type="text" id="street" th:field="*{permanentResidenceAddress.street}" /></p>
            <label class="mdl-textfield__label" for="street">street</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'House Number: '"></span>
            <input class="mdl-textfield__input" type="number" id="number" th:field="*{permanentResidenceAddress.houseNumber}" /></p>
            <label class="mdl-textfield__label" for="number">number</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Municipality: '"></span>
            <input class="mdl-textfield__input" type="text" id="municipality" th:field="*{permanentResidenceAddress.municipality}" /></p>
            <label class="mdl-textfield__label" for="municipality">municipality</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Post Code: '"></span>
            <input class="mdl-textfield__input" type="text" id="postCode" th:field="*{permanentResidenceAddress.postCode}" /></p>
            <label class="mdl-textfield__label" for="postCode">post code</label>
        </div>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Correspondence Address&nbsp;</span>
            </span>
        </li>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Street: '"></span>
            <input class="mdl-textfield__input" type="text" id="streetC" th:field="*{correspondenceAddress.street}" /></p>
            <label class="mdl-textfield__label" for="streetC">street</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'House Number: '"></span>
            <input class="mdl-textfield__input" type="number" id="numberC" th:field="*{correspondenceAddress.houseNumber}" /></p>
            <label class="mdl-textfield__label" for="numberC">number</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Municipality: '"></span>
            <input class="mdl-textfield__input" type="text" id="municipalityC" th:field="*{correspondenceAddress.municipality}" /></p>
            <label class="mdl-textfield__label" for="municipalityC">municipality</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <span th:text="'Post Code: '"></span>
            <input class="mdl-textfield__input" type="text" id="postCodeC" th:field="*{correspondenceAddress.postCode}" /></p>
            <label class="mdl-textfield__label" for="postCodeC">post code</label>
        </div>
        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised" style="width: fit-content;"/>
    </form>
</div>
</body>
</html>

