<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jolanka System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
        .w3-half {height:200px;margin-top:50px;}
        svg[data-icon="mdi-sheep"] {
            font-size: 100px;
        }

    </style>
</head>
<body>
<aside class="mdc-drawer">
    <span class="iconify"  style="padding-left: 30px; font-size: 70px; color: #feb236" data-icon="mdi-sheep" data-inline="false"></span>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title" style="padding-left: 8px; margin-top: -10px">Jolanka System</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/">
                <span class="material-icons">home</span>
                <span class="mdc-list-item__text">Home</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <span class="material-icons">account_circle</span>
                <span class="mdc-list-item__text">Clients</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <span class="material-icons">description</span>
                <span class="mdc-list-item__text">Insurances</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto;">
    <div class="w3-half w3-center" style="background:#feb236">
        <span class="iconify" style="margin-left: 400px" data-icon="mdi-sheep" data-inline="false"></span>
        <span class="iconify" style="margin-top: -118px;margin-left: 848px" data-icon="mdi-sheep" data-inline="false"></span>
        <p class="w3-xlarge" style="margin-top: -60px; margin-left: 520px;font-size: 60px"><b>JOLANKA</b></p>
        <p class="w3-xlarge" style="margin-top: 50px; margin-left: 100px;font-size: 60px"><b>GREAT FABULOUS INSURANCE SYSTEM</b></p>
    </div>
    <h1 style="padding-left: 300px; margin-top: 20px;font-size: 30px">This is interesting back-end homework... </h1>
    <h1 style="margin-left: 500px; margin-top: 10px; font-size: 30px;  margin-bottom: 200px;">...but it would be nice if somebody teach us HTML and CSS</h1>
    <ul class="demo-list-item mdl-list ">
        <a style="margin-left: 100px; font-size: 15px; margin-top: -10px; color: black">Author: </a>
        <a th:href="@{https://www.facebook.com/matej.krajcovic.10}" target="_blank" style="font-size: 15px; color: black">Matej Peluha</a>
        <a th:href="@{https://www.facebook.com/matej.krajcovic.10}" target="_blank" class="fa fa-facebook-square"  style="font-size:30px; color: darkblue"></a>
        <div class="mdc-drawer__content" style="margin-top: -84px; margin-left: 930px;">
            <nav class="mdc-list">
                <a class="mdc-list-item" href="https://gitlab.com/matejpeluha" target="_blank">
                    <span class="material-icons" style="font-size: 40px">work</span>
                    <span class="mdc-list-item__text" style="margin-top: 40px; margin-left: -65px">My GitLab</span>
                </a>
            </nav>
        </div>
    </ul>
    <ul class="demo-list-item mdl-list" style="margin-top: -35px">
        <a style="margin-left: 100px; margin-top: 70px; font-size: 15px; color: black">(with help of google, myself and little bit of </a>
        <a th:href="@{https://www.fei.stuba.sk/}" target="_blank" th:text="' STU FEI UNIVERSITY'" style="font-size: 10px"></a>
        <a style="font-size: 15px; color: black">)</a>
        <a style="font-size: 15px; color: black; margin-left: 285px">(pls i need job)</a>
    </ul>
</div>
</body>
</html>
