<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Jolanka System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }
        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }
        .mdc-list-item__text {
            padding-left: 10px;
        }
        .mdc-drawer {
            border-right-color: rgba(0,0,0,.12);
            border-right-style: solid;
            width: 10%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <span class="iconify"  style="padding-left: 30px; font-size: 70px; color: #feb236" data-icon="mdi-sheep" data-inline="false"></span>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title" style="padding-left: 8px; margin-top: -10px">Jolanka System</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/">
                <span class="material-icons">home</span>
                <span class="mdc-list-item__text">Home</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <span class="material-icons">account_circle</span>
                <span class="mdc-list-item__text">Clients</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <span class="material-icons">description</span>
                <span class="mdc-list-item__text">Insurances</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;">List of Insurances</h1>
    <h6 style="margin: 10px;">(Add insurance through client detail)</h6>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">ID</th>
            <th class="mdl-data-table__cell--non-numeric">Sign Date</th>
            <th class="mdl-data-table__cell--non-numeric">StartDate</th>
            <th class="mdl-data-table__cell--non-numeric">End Date</th>
            <th class="mdl-data-table__cell--non-numeric">Payment</th>
            <th class="mdl-data-table__cell--non-numeric">Insurance Type</th>
            <th class="mdl-data-table__cell--non-numeric">Insurer</th>
            <th class="mdl-data-table__cell--non-numeric">Detail Info</th>
            <th class="mdl-data-table__cell--non-numeric">Change Info</th>
            <th class="mdl-data-table__cell--non-numeric">Remove insurance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insurance: ${insurances}">
            <td th:text="${insurance.ID}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${insurance.dateOfConclusionContract}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${insurance.startDateInsurance}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${insurance.endDateInsurance}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${insurance.monthlyPayment}" class="mdl-data-table__cell--non-numeric"></td>
            <td th:text="${insurance.type}" class="mdl-data-table__cell--non-numeric"></td>
            <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/user/id/'+ ${insurance.insurerID}}" th:text="${(system.getPerson(insurance.insurerID))}"></a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/insurance/id/'+ ${insurance.ID}}" th:text="'DETAIL'"></a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/insurance/change/' + ${insurance.ID}}" th:text="'CHANGE'"></a>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/insurance/remove/all/' + ${insurance.ID}}" th:text="'REMOVE'"></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
