<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jolanka System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

        .mdc-list-item__text {
            padding-left: 10px;
        }

        .mdc-drawer {
            border-right-color: rgba(0, 0, 0, .12);
            border-right-style: solid;
            width: 10%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <span class="iconify"  style="padding-left: 30px; font-size: 70px; color: #feb236" data-icon="mdi-sheep" data-inline="false"></span>
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title" style="padding-left: 8px; margin-top: -10px">Jolanka System</h3>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/">
                <span class="material-icons">home</span>
                <span class="mdc-list-item__text">Home</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/user/">
                <span class="material-icons">account_circle</span>
                <span class="mdc-list-item__text">Clients</span>
            </a>
        </nav>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <span class="material-icons">description</span>
                <span class="mdc-list-item__text">Insurances</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;" th:text="'Accident Insurance Number ' + ${accidentInsurance.ID }"></h1>
    <ul class="demo-list-item mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Sign Date:&nbsp;</span>
                <span th:text="${accidentInsurance.dateOfConclusionContract}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Start Date:&nbsp;</span>
                <span th:text="${accidentInsurance.startDateInsurance}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>End Date:&nbsp;</span>
                <span th:text="${accidentInsurance.endDateInsurance}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Indemnity:&nbsp;</span>
                <span th:text="${accidentInsurance.insuranceIndemnity}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Monthly Payment:&nbsp;</span>
                <span th:text="${accidentInsurance.monthlyPayment}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Insurer:&nbsp;</span>
                <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/user/id/' + ${insurer.ID}}" th:text="${insurer.name}"></a>
            </td>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Insured:&nbsp;</span>
                <td class="mdl-data-table__cell--non-numeric">
                <a th:href="@{'/user/id/' + ${accidentInsurance.insuredID}}" th:text="${insured.name}"></a>
            </td>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Amount for Permanent Consequences:&nbsp;</span>
                <span th:text="${accidentInsurance.amountForPermanentConsequences}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Amount for Death:&nbsp;</span>
                <span th:text="${accidentInsurance.amountForDeath}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Daily Amount for Hospitalization:&nbsp;</span>
                <span th:text="${accidentInsurance.dailyAmountForHospitalization}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Coverage:&nbsp;</span>
                <span th:text="${accidentInsurance.worldArea.name()}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <td class="mdl-data-table__cell--non-numeric">
                    <a th:href="@{'/insurance/change/accident/id/' + ${accidentInsurance.ID}}" th:text="'CHANGE INFO'"></a>
                </td>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <td class="mdl-data-table__cell--non-numeric">
                    <a th:href="@{'/insurance/remove/all/' + ${accidentInsurance.ID}}" th:text="'REMOVE'"></a>
                </td>
            </span>
        </li>
    </ul>
</div>
</body>
</html>